/*     General overwrite     */
body,
.wrapper{
    background-color: #d6f0d9;
    max-height: 50vh;
    position: relative;
}

i{
    color: #ffe600;
  
    &:hover, &:focus{
       color: #00a00d;
       text-decoration: none;
    }
  }
  
a{
  color: #001d10;
  font-weight: bold;

  &:hover, &:focus{
     color: #ad2800;
     text-decoration: none;
  }
}
.gobold {
    font-weight: 1000px;
}

.btn-hover {
    color: #d6f0d9;
    background-color: #0087ff;

}



.btn-hover:hover    {
    color: #d6f0d9;
    background-color: #b42a00; 
}


